.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: 10vh;
}

.chatalign{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2vh;
}

.chatsize{
  font-size: 25px;
}

.author{
  font-size: 10px;
  padding-top: 2vh;
  padding-left: 1vh;
}


.inputbox{
  height: 20vh;
  width: 80vw;
  padding: 5px;
  border-radius: 3vh;
  font-size: 20px;
}

.butn{
  height: 20vh;
  width: 16vw;
  border-radius: 3vh;
}

.output{
  background-color: rgba(0, 0, 0, 0.4);
}